<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Todo List</title>
</head>
<body>

    <h1 class="date"><%= title %></h1>
    <div class="container">
        <h1 class="heading">Todo List</h1>
        <form action="/" method="post">
            <input class="addText" type="text" name="text" placeholder="add task" autocomplete="off">
            <button type="submit" class="addButton">Add</button>
            <ul class="list">
                <% for( let i = 0; i < Task.length; i++ ) { %>
                    <li class="item"><%= Task[i] %></li>
                <% } %>
            </ul>
        </form>
    </div>

    <script src="index.js"></script>
    
</body>
</html>